:root {
    --primary: #1a5475;
    --accent: #7ed13b;
    --card: #ffffff;
    --border: #dcdcdc;
    --text: #333;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* BODY */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--card);
}

/* MAIN CONTAINER */
.login-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* LOGIN CARD */
.login-container {
    background: var(--card);
    width: 400px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 20px #333;
}

/* HEADER */
.login-header {
    text-align: center;
    margin-bottom: 25px;
}

.logo {
    height: 90px;
    margin-bottom: 10px;
}

.login-header p {
    font-size: 26px;
    font-weight: 600;
    color: var(--primary);
}

.login-header span {
    color: var(--accent);
}

/* FORM */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* INPUTS */
input[type="text"],
input[type="password"] {
    padding: 12px;
    border: 1px solid var(--border);
    border-radius: 6px;
    font-size: 14px;
}

input:focus {
    outline: none;
    border-color: var(--text);
    box-shadow: 0 0 0 2px rgba(126, 209, 59, 0.2);
}

input:focus::placeholder {
    color: transparent;
}

/* CHECKBOX */
.show-password {
    font-size: 13px;
    display: flex;
    align-items: center;
    gap: 6px;
    color: var(--text);
}

/* BUTTON */
button {
    padding: 12px;
    border: none;
    background: var(--primary);
    color: white;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.25s;
    box-shadow: 0 2px 3px #333;
}

button:hover {
    background: var(--accent);
    transform: scale(0.98);
}

/* LINKS */
.forgot {
    font-size: 13px;
    text-decoration: none;
    color: var(--primary);
    text-align: center;
}

.forgot:hover {
    color: var(--accent);
}

.register-link {
    text-align: center;
    font-size: 13px;
    color: var(--text);
}

.register-link a {
    color: var(--accent);
    text-decoration: none;
    font-weight: 500;
}

.register-link a:hover {
    text-decoration: underline;
    color: #1a5475;
}

.error {
    color: #ff0000;
    font-size: 12px;
}

.invalid {
    text-align: center;
}

/* MOBILE */
@media (max-width:500px) {

    .login-container {
        width: 90%;
        padding: 30px;
    }

    .logo {
        height: 70px;
    }

}

.forgot-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgot-container {
    background: var(--card);
    width: 400px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 20px #333;
}

.forgot-header {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 25px;
    gap: 15px;
}

.back-button a {
    position: absolute;
    top: 30px;
    /* adjust as needed */
    left: 20px;
    font-size: 18px;
    text-decoration: none;
    color: var(--text);
    z-index: 10;
    /* ensures it stays on top */
}

.back-button a:hover {
    color: var(--accent);
}

.forgot-header h1 span {
    color: var(--accent);
}

.forgot-header p {
    font-size: 16px;
    font-weight: 600;
    color: var(--primary);
}

/* REGISTER LAYOUT */
.register-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    min-width: 600px;
    position: relative;

}

.name-row {
    display: flex;
    gap: 15px;
}

.info-row {
    display: flex;
    gap: 15px;
}

.field {
    display: flex;
    flex-direction: column;
    flex: 1;
}

select,
input[type="date"] {
    padding: 12px;
    border: 1px solid var(--border);
    border-radius: 6px;
    font-size: 14px;
    background: white;
}

.register-sub-container {
    width: 520px;
}

.register-sub-container label {
    font-size: 13px;
    font-weight: 500;
    color: var(--text);
    margin-bottom: 3px;
}

.register-sub-container input[type="text"],input[type="password"] {
    width: 100%;
}
.password-input{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.password-input input[type="checkbox"] {
    margin-left: 3px;
}

/* MOBILE */

@media(max-width:600px) {

    .name-row,
    .info-row {
        flex-direction: column;
    }

    .register-sub-container {
        width: 90%;
    }

}
/* CHANGE PASSWORD */
.change-password-container{
    background: var(--card);
    width: 400px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 20px #333;
}
.change-password-header {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 25px;
    gap: 15px;
}
.change-password-header h1 span {
    color: var(--accent);
}
.change-password-header p{
    font-size: 16px;
    font-weight: 600;
    color: var(--primary);
}
.change-password-sub-container form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.change-password-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.change-password-container label{
    font-size: 13px;
    color: var(--text);
}
.change-password-container input[type=checkbox] {
    margin-left: 3px;
}